body {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color:lemonchiffon;

    background-image: url('fr.webp');
    background-size: cover;

}

header {

    background-color:khaki;
    color:rgb(97, 209, 147);
    padding: 10px;
    width: 100%;
    justify-content: center;
    display: flex;

}

header h1{

    font-size: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;

}

header svg{

    height: 160px;
    margin-left: 30px;
}

    
nav {

    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 3vh;

}

nav a {

    color: rgb(97, 209, 147);
    margin: 0 10px;
    text-decoration: none;
    font-style: italic;
    font-size: 30px;
    margin-left: 20px;

}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    
}

table {

    width: 1300px;
    margin-top: 350px;
}

th, td {

    border: 1px solid #ddd;
    padding: 20px;
    background-color: green;
    color: white;
    text-align: left;

}

th {

    background-color: green;
    color: white;
    font-size: 20px;

}

tbody tr:nth-child(even) {

    background-color: #f2f2f2;

}



footer {
    
    background-color:khaki;
    color:rgb(97, 209, 147);
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-top: 398px;

}